/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
/*
 *= require twitter/bootstrap
 *= require twitter/bootstrap/_responsive
 */

.logoText {
  float: left;
  padding-right: 8px;
  vertical-align: center;
  font-size: 24px;
  font-weight: bold;
  padding-top: 10px;
}

.logoText:hover {
  color: $darkBlue;
  text-decoration: none;
}

.header {
    border-bottom: 2px solid #237;
    margin-bottom: 10px;
    vertical-align: center;
}
.footer {
    border-top: 2px solid #237;
    margin-top: 10px;
}
